body {
  font-family: Bubbler One;
  background-color: #0267C1;
}
.btn-container{
  height: 21px;
  margin:21px 0 40px 0;
}
h4{
  color:#EFE6B8;
  text-decoration: underline;
}
.main {
  width: 70%;
  color: #F9EBE0;
  background-color: #0075C4;
  padding: 40px;
  margin: auto;
  margin-top: 100px;
}

h1 {
  font-size: 55px;
  text-align: center;
  padding-bottom:20px;
}

a {
  color: white;
  text-align: center;
}
.footer {
  width: 70%;
  color:white;
  text-align: center;
  margin: auto;
}
a:hover {
  text-decoration: none;
  color: white;
}

p {
  font-size: 16px;
}

.btn, .btn:hover {
  background-color: #0267C1;
  color: inherit;
  cursor: pointer;
}
.chosen, .chosen:hover {
  font-size: 22px;
  color: #EFE6B0;
  cursor: default;
}
